<!--
<div class="flex-container">
    <div class="matCardFleet">
    <mat-card class="custom">
        <mat-card-title>{{ article.title }}</mat-card-title>
        <mat-card-title>{{ article.desc }}</mat-card-title>
        <mat-card-subtitle>placeholder</mat-card-subtitle>
    
        <h4>Votes: {{ article.votes }}</h4>
    
        <div class="meta">{{ article.domain() }}</div>
    
        <mat-card-content>
          <div class="alert alert-info">
            <h5>{{ article.desc }}</h5>
          </div> 
        </mat-card-content>
    
     <mat-card-actions>
       <div class="linkCustom">
          <button mat-button>Read article</button>
          <button mat-button (click)="voteUp()">upvote++</button>
          <button mat-button (click)="voteDown()">downvote--</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
    </div>
    </div>
-->

<!--
<div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ article.title }}</h4>
      <h4>Votes: {{ article.votes }}</h4>
      <div class="alert alert-info">
          <h5>{{ article.desc }}</h5>
        </div> 
      <a href="#" class="card-link">READ ARTICLE</a>
      <button type="button" (click)="upVoteArticle()" class="btn btn-outline-light text-dark">UPVOTE++</button>
      <button type="button" (click)="downVoteArticle()" class="btn btn-outline-light text-dark">DOWNVOTE--</button>
    </div>
  </div>
    <br>
-->
<div class="zorroWrap">
    <nz-card nzHoverable style="width:410px;" nzTitle="{{ article.title }}" [nzExtra]="extraTemplate" [nzActions]="[actionEllipsis , voteDisplay , articleDelete]">
      <div class="angular-with-newlines">
      <p align="justify">{{ article.desc }}</p>
      </div>
    </nz-card>
    <ng-template #extraTemplate>
      <a href="{{ article.link }}">More</a>
    </ng-template>
    
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis"></i>
    </ng-template>

    <ng-template #voteDisplay>
      <i nz-icon [nzType]="'heart'" (click)="upVoteArticle()" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
      <i nz-icon nzType="ellipsis">&nbsp;&nbsp; {{ article.votes }}</i>
    </ng-template>

    <ng-template #articleDelete>
     <!-- <a nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" nz-icon nzType="stop" nzTheme="twotone" (click)="deleteArticle()"></a> -->
      <a nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">Delete</a>
    </ng-template>

    
<div>