<!--<nz-switch *ngIf="!(getProfile())" [(ngModel)]="loading"></nz-switch>-->

<div class="zorroWrap" *ngIf="showLoader">
  <p></p>
</div>
<div *ngIf="!showLoader" class="zorroWrap">
    <nz-card style="width: 300px;margin-top: 16px" [nzActions]="[actionDelete, actionEdit, actionEllipsis]">
      
        <nz-card-meta
          [nzAvatar]="avatarTemplate"
          nzTitle="Profile Info"
          nzDescription="">
          </nz-card-meta>
          <br>
          <nz-card-meta
          nzDescription="UserName: {{ name }}">
          </nz-card-meta>
          <nz-card-meta
          nzDescription="EmailId: {{ email }}">
          </nz-card-meta>
          <nz-card-meta
          nzDescription="Unique_User_Id: {{ uid }}">
          </nz-card-meta>
          <nz-card-meta
          nzDescription="Email Verification status: {{emailVerified}}">
          </nz-card-meta>
          <nz-card-meta
          nzDescription="Address: ">
          </nz-card-meta>
    
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://imgur.com/a/wLKCbDN"></nz-avatar>
    </ng-template>
    <ng-template #actionDelete>
      <i nz-icon [nzType]="'delete'" (click)="deleteUser()"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i nz-icon nzType="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis" (click)="open()"></i>
    </ng-template>

    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      [nzPlacement]="placement"
      nzTitle="PLACEHOLDER"
      (nzOnClose)="close()">
      
      <button mat-button><mat-icon>notes</mat-icon>ADD ADDITIONAL DETAILS</button><br>
      <button mat-button><mat-icon>library_add</mat-icon>Your Posts</button><br>
      <button mat-button><mat-icon>info</mat-icon>About</button><br>
 
    </nz-drawer>
</div>