<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="articles" routerLinkActive="active">FEED</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="post" routerLinkActive="active">CREATE POST</a>
        </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

  <!--

<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <nav>
    <a routerLink="articles" class="btn btn-primary active" role="button" routerLinkActive="active">Articles</a>
    <a routerLink="post" class="btn btn-primary active" role="button" routerLinkActive="active">POST</a>
  </nav>
  <router-outlet></router-outlet>
</div>

-->
  