  .companyName{
    font-size: 150%;
}

.mat-toolbar{
  height: 7vh;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

div {
    overflow: inherit;
    overflow-y: hidden !important;
}

.mat-sidenav-container{
  min-height: 93vh !important;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button{
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }

  .mat-elevation-z5 {
   position: relative;
   z-index: 2;
}