<!--
<div class="container-fluid">
<h3>Create Post</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="article.title" name="title">
    </div>

    <div class="form-group">
      <label for="link">URL</label>
      <input type="text" class="form-control" id="link" required [(ngModel)]="article.link" name="link">
    </div>

    <div class="form-group">
        <label for="desc">DESCRIPTION</label>
        <input type="text" class="form-control" id="desc" required [(ngModel)]="article.desc" name="desc">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newArticle()">Create Post</button>
</div>
</div>
-->
<!--#####################################-->

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>
      <span>
        TITLE
        <i
          nz-icon
          nz-tooltip
          nzTitle="DESCRIBE YOUR THOUGHT IN A LINE BRIEFLY!"
          type="question-circle"
          nzTheme="outline"
        ></i>
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Title!">
      <input nz-input id="title" [(ngModel)]="article.title" formControlName="title" />
    </nz-form-control>
  </nz-form-item>

  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="link" nzRequired>URL</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input URL!">
      <input nz-input id="link" [(ngModel)]="article.link" formControlName="link" placeholder="link" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc" nzRequired>DESCRIPTION</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please add description!">
      <input nz-input id="desc" [(ngModel)]="article.desc" formControlName="desc" placeholder="DESCRIPTION" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="captcha" nzRequired>Captcha</nz-form-label>
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Please input the captcha you got!"
      nzExtra="We must make sure that your are a human."
    >
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <input nz-input formControlName="captcha" id="captcha" />
        </div>
        <div nz-col [nzSpan]="12">
          <button nz-button (click)="getCaptcha($event)">Get captcha</button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>

  

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="agree">
        <span>I have read the <a>agreement</a></span>
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">POST</button>
    </nz-form-control>
  </nz-form-item>
</form>