<!--
<div class="jumbotron">
    <p class="lead">What's on your mind ?</p>
    <hr class="my-4">

      <div class="form-group">
        <input type="text" id="title" class="form-control" required #newtitle>
        <label class="form-control-placeholder" for="name">Title</label>
      </div>

<br>
      
      <label for="basic-url">URL</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">https://</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" #newlink>
      </div>
<br>

<div class="form-group">
    <input type="text" id="desc" class="form-control" required #newdescription>
    <label class="form-control-placeholder" for="name">Description</label>
  </div>

    <p class="lead">
      <a class="btn btn-primary btn-lg" (click)="newArticle()" (click)="newArticle()" (click)="" role="button">POST</a>
    </p>
  </div>
-->

<div class="container-fluid">
<h3>Create Post</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="article.title" name="title">
    </div>

    <div class="form-group">
      <label for="link">URL</label>
      <input type="text" class="form-control" id="link" required [(ngModel)]="article.link" name="link">
    </div>

    <div class="form-group">
        <label for="desc">DESCRIPTION</label>
        <input type="text" class="form-control" id="desc" required [(ngModel)]="article.desc" name="desc">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newArticle()">Create Post</button>
</div>
</div>


<!--jhsfsfbskefbskejbfs-->